*.sqlite3
staticfiles/
*/migrations/0*.py
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
requirementsbackup.txt

# Django stuff:
*.log
local_settings.py


# virtualenv
.venv/
venv/
ENV/
