<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Sells Man Track</title>
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"
    />
  </head>

  <body>
    <h1>Sells Man Tracking System</h1>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"
    ></script>
  </body>
</html>
